<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Danh sách học sinh</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-utilities.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Danh sách học sinh</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <a th:href="@{/student/add}"><button type="button" class="btn btn-success">Thêm mới học viên</button></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">MAHV</th>
                        <th scope="col">Họ</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Ngày Sinh</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Nơi sinh</th>
                        <th scope="col">Mã lớp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student : ${students}">
                        <td scope="col" th:text="${student.mahv}">MAHV</td>
                        <td scope="col" th:text="${student.ho}">Họ</td>
                        <td scope="col" th:text="${student.ten}">Tên</td>
                        <td scope="col" th:text="${student.ngaysinh}">Ngày Sinh</td>
                        <td scope="col" th:text="${student.gioitinh}">Giới tính</td>
                        <td scope="col" th:text="${student.noisinh}">Nơi sinh</td>
                        <td scope="col" th:text="${student.malop}">Mã lớp</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>