<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TRAN THAI SON TEST</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-grid.min.css}" ref="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-utilities.min.css}" ref="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Demo Spring Boot With Bootstrap</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 th:text="${text}">Danh Sach Hoc Sinh (Bi Ghi De)</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <a th:href="@{/students}"><button type="button" class="btn btn-primary">Show Students Database</button></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <a th:href="@{/teachers}"><button type="button" class="btn btn-primary">Show Teachers Database</button></a>
        </div>
    </div>
</div>
</body>
</html>